button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: none;
	border-bottom: 3px solid $color__border-button;
	border-radius: 0;
	background: $color__background-button;
	color: $color__text-button;
	@include font-size( $font__size-main );
	line-height: 1;
	padding: 0.6em 1em 0.4em;

	&:focus {
		outline: none;
		box-shadow: 0 7px 0 $color__background-body,
		            0 9px 0 $color__background-button;
	}

	&:active {}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: $color__text-input;
	@include font-size( $font__size-input );
	border: none;
	border-bottom: 2px solid $color__border-input;

	&:focus {
		outline: none;
		box-shadow: 0 7px 0 $color__background-body,
		            0 9px 0 $color__background-button;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 15px 40px 12px;
	line-height: 1;
}

input[type="file"] {
	padding: 0;
	color: $color__text-input;
	@include font-size( $font__size-input );
	border: none;
	border-bottom: 2px solid $color__border-button;
	line-height: 1;

	&:focus {
		outline: none;
		box-shadow: 0 7px 0 $color__background-body,
		            0 9px 0 $color__background-button;
	}
}

input::-webkit-file-upload-button {
	border: none;
	border-right: 10px solid $color__background-body;
	border-radius: 0;
	background: $color__background-button;
	color: $color__text-button;
	font-family: $font__main;
	@include font-size( $font__size-input );
	line-height: 20px;
	padding: 12px 8px 7px;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

textarea {
	padding-left: 3px;
	width: 100%;
}

fieldset {
	border-color: $color__border-input;
}

input[type="checkbox"],
input[type="radio"] {
	border: none;
	background: transparent;
	color: #555;
	clear: none;
	cursor: pointer;
	display: inline-block;
	line-height: 0;
	height: 16px;
	margin: -4px 4px 0 0;
	outline: 0;
	padding: 0 !important;
	text-align: center;
	vertical-align: middle;
	width: 16px;
	min-width: 16px;
	-webkit-appearance: none;
	-webkit-box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
	box-shadow: inset 0 1px 2px rgba( 0, 0, 0, 0.1 );
	-webkit-transition: .05s border-color ease-in-out;
	transition: .05s border-color ease-in-out;

	&:focus,
	&:active {
		border-color: $color__border-input-focus;
	}
}

input[type="radio"] {
	-webkit-border-radius: 50%;
	border-radius: 50%;
	margin-right: 4px;
	line-height: 10px;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
	float: left;
	display: inline-block;
	vertical-align: middle;
	width: 16px;
	font: normal 21px/1 'dashicons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[type="checkbox"]:checked:before {
	content: '\f147';
	margin: -3px 0 0 -4px;
	color: $color__check;
}

input[type="radio"]:checked:before {
	content: '\2022';
	text-indent: -9999px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	font-size: 24px;
	width: 6px;
	height: 6px;
	margin: 4px;
	line-height: 16px;
	background-color: $color__check;
}